@model Cinemalek.ViewModels.ForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
}
<div class="col-lg-8 col-xxl-5 py-3 position-relative">
    <div class="card overflow-hidden z-index-1">
        <div class="card-body p-4">
            <h3 class="mb-3">ForegetPassword</h3>
            <hr />
            <form asp-controller="Account" asp-area="Identity" asp-action="ForgetPassword" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="EmailOrUserName" class="control-label"></label>
                    <input asp-for="EmailOrUserName" class="form-control" />
                    <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary d-block w-100 mt-3">
                        Send Code
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Login">Back to LogIn</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
