@model Cinemalek.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-lg-8 col-xxl-5 py-3 position-relative">
    <div class="card overflow-hidden z-index-1">
        <div class="card-body p-4">
            <h3 class="mb-3">ResetPassword</h3>
            <hr />
            <form asp-action="ResetPassword" asp-controller="Account"asp-area="Identity" method="post">

                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary d-block w-100 mt-3" value="Reset Password" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
